<section>
<div class="row">
    <div class="col-lg-12 margin-top-40">
        <hr>
        <h2 class="font-weight-light margin-bottom-40 margin-top-40">CPD Certificate | Sample</h2>
    </div>
    <div class="col-lg-6">
        <img src="{{certificate}}" class="w-100 box-shadow margin-bottom-40">
    </div>
    <div class="col-lg-6">
        {{#certificate-data}}
            <p class="font-20" style="font-weight:300;">
                <i class="fa fa-check padding-right-20 font-success font-30"></i>
                {{text}}</p>
        {{/certificate-data}}
    </div>
</div>

<hr>
</section>