<section>
   <div class="row">
      <div class="col-lg-12">
         <h2 class="font-weight-light margin-bottom-30 margin-top-40">Resource Editor</h2>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12 margin-bottom-50">
         <div class="fancy-card">
            <div class="fancy-img-avatar" style="background-image:url('{{id}}');">
            </div>
            <div class="fancy-card-text">
               <div class="fancy-portada">
               </div>
               <div class="fancy-title-total">
                  <h2 class="font-weight-light">{{name}}</h2>
                  <div class="fancy-desc">"{{quote}}"</div>
                  <div class="fancy-title margin-top-20">{{resource-name}}</div>
               </div>
            </div>
         </div>
      </div>
   </div>
        <div>
        <hr class="no-margin">
       </div>
</section>