<section>
    <div class="col-sm-8 ">
        <img id="product-image" src="{{product-img}}" class="pull-left clearfix hidden-sm hidden-xs img img-responsive img-thumbnail" title="Acute Medicine SCE" alt="Acute Medicine SCE" itemprop="image" width="100" height="100">
        <h1 itemprop="name">{{title}}</h1>
        <div class="clearfix" itemprop="description">{{description}}</div>
    </div>
</section>
