<section>
<h2 class="font-weight-light margin-bottom-30 margin-top-40">Topics Covered</h2>
<p class="margin-bottom-40 font-weight-light" style="font-size:18px;">{{description}}</p>
<div class="row">
    <div class="col-lg-6">
        {{#topics}}
            <p>
                <i class="fa fa-check padding-right-20 font-success font-25"></i>
                {{topic}}</p>
        {{/topics}}
    </div>
</div>
</section>