<div class="fixed-top" style="
            border-bottom: #ccc 0.25px solid;
        ">
    <div class="stripes">
        <div class="stripe bg-dark-blue"></div>
        <div class="stripe bg-blue"></div>
        <div class="stripe bg-light-blue"></div>
        <div class="stripe bg-dark-pink"></div>
        <div class="stripe bg-light-pink"></div>
    </div>
    <nav class="navbar navbar-light bg-light navbar-expand-md">
        <div class="container">
            <a href="../index.html" target="_self" class="navbar-brand mr-4">
                <img alt="Learna Ltd" src="https://www.learna.ac.uk/_nuxt/img/learna-logo-v1.0c7d134.svg" width="150"></a>
                <ul class="navbar-nav d-none d-md-inline ml-auto">
                    <li class="nav-item b-nav-dropdown dropdown mr-auto title-font">
                        <a class="dropdown-toggle nav-link" href="#" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Business Courses
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="/courses/executive-mba" role="menuitem" target="_self" class="dropdown-item">Executive MBA
                                </a>
                            </li>
                            <li>
                                <a href="/courses/executive-mba-in-healthcare-management" role="menuitem" target="_self" class="dropdown-item">
                                    Executive MBA in Healthcare Management
                                </a>
                            </li>
                            <li>
                                <a href="/courses/executive-mba-in-marketing-management" role="menuitem" target="_self" class="dropdown-item">
                                    Executive MBA in Marketing Management
                                </a>
                            </li>
                            <li>
                                <a href="/courses/executive-mba-in-financial-management" role="menuitem" target="_self" class="dropdown-item">
                                    Executive MBA in Financial Management
                                </a>
                            </li>
                            <li>
                                <a href="/courses/executive-mba-in-entrepreneurship" role="menuitem" target="_self" class="dropdown-item">
                                    Executive MBA in Entrepreneurship
                                </a>
                            </li>
                            <li>
                                <a href="/courses/executive-mba-in-hospitality-and-tourism-management" role="menuitem" target="_self" class="dropdown-item">
                                    Executive MBA in Hospitality and Tourism Management
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav d-none d-md-inline">
                    <li class="nav-item b-nav-dropdown dropdown mr-auto title-font">
                        <a class="dropdown-toggle nav-link" href="#" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Medical Courses
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <div id="medical-menu-row" class="row">
                                <div class="col-6">
                                    <li role="presentation" class="text-primary">
                                        <a role="menuitem" href="https://www.diploma-msc.com/c/acute-medicine-courses" target="_self" class="dropdown-item">Acute Medicine
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="https://www.diploma-msc.com/c/courses-in-health-economics" target="_self" class="dropdown-item">Applied Health Economics
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="https://www.diploma-msc.com/c/courses-in-care-of-the-elderly" target="_self" class="dropdown-item">Care of the Elderly
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="https://www.diploma-msc.com/c/courses-in-clinical-psychiatry" target="_self" class="dropdown-item">Clinical Psychiatry
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="https://www.diploma-msc.com/c/cosmetic-medicine" target="_self" class="dropdown-item">Cosmetic Medicine
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="https://www.diploma-msc.com/c/courses-in-dermatology" target="_self" class="dropdown-item">Dermatology in Clinical Practice
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="https://www.diploma-msc.com/c/courses-in-diabetes" target="_self" class="dropdown-item">Diabetes
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="https://www.diploma-msc.com/c/courses-in-endocrinology" target="_self" class="dropdown-item">Endocrinology
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="https://www.diploma-msc.com/c/courses-in-expedition-and-wilderness-medicine" target="_self" class="dropdown-item">Expedition and Wilderness Medicine
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="https://www.diploma-msc.com/c/courses-in-gastroenterology" target="_self" class="dropdown-item">Gastroenterology
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="https://www.diploma-msc.com/c/courses-in-genomic-medicine-and-healthcare" target="_self" class="dropdown-item">Genomic Medicine and Healthcare
                                        </a>
                                    </li>
                                </div>
                                <div class="col-6">
                                    <li role="presentation">
                                        <a role="menuitem" href="https://www.diploma-msc.com/c/courses-in-leadership-in-healthcare" target="_self" class="dropdown-item">Leadership in Healthcare
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="https://www.diploma-msc.com/c/courses-in-medical-education" target="_self" class="dropdown-item">Medical Education
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="https://www.diploma-msc.com/c/courses-in-obesity-and-weight-management" target="_self" class="dropdown-item">Obesity and Weight Management
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="https://www.diploma-msc.com/c/courses-in-pain-management" target="_self" class="dropdown-item">Pain Management
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="https://www.diploma-msc.com/c/courses-in-preventative-cardiovascular-medicine" target="_self" class="dropdown-item">Preventative Cardiovascular Medicine
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="https://www.diploma-msc.com/c/courses-in-renal-medicine" target="_self" class="dropdown-item">Renal Medicine
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="https://www.diploma-msc.com/c/courses-in-respiratory-medicine" target="_self" class="dropdown-item">Respiratory Medicine
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="https://www.diploma-msc.com/c/courses-in-rheumatology" target="_self" class="dropdown-item">Rheumatology
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="https://www.diploma-msc.com/c/courses-in-sexual-and-reproductive-medicine" target="_self" class="dropdown-item">Sexual and Reproductive Medicine
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="https://www.diploma-msc.com/c/courses-in-sports-and-exercise-medicine" target="_self" class="dropdown-item">Sports and Exercise Medicine
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <hr role="separator" aria-orientation="horizontal" class="dropdown-divider"></li>
                                        <li role="presentation">
                                            <a role="menuitem" href="/new-course-idea" target="_self" class="dropdown-item">New Course Idea
                                            </a>
                                        </li>
                                    </div>
                                </div>
                            </ul>
                        </li>
                    </ul>
                    <ul id="nav" left="" class="navbar-nav d-none d-md-inline ml-3">
                        <li id="dropdown-platforms" class="nav-item b-nav-dropdown dropdown" data-v-683ee53a="">
                            <a id="dropdown-platforms__BV_toggle_" role="button" aria-haspopup="true" aria-expanded="false" href="#dropdown-platforms" target="_self" class="nav-link dropdown-toggle dropdown-toggle-no-caret">
                                <svg viewBox="0 0 16 16" width="1em" height="1em" focusable="false" role="img" aria-label="grid3x3 gap" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi-grid3x3-gap b-icon bi" data-v-683ee53a="">
                                    <g data-v-683ee53a="">
                                        <path fill-rule="evenodd" d="M4 2H2v2h2V2zm1 12v-2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V7a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm5 10v-2a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V7a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V2a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zM9 2H7v2h2V2zm5 0h-2v2h2V2zM4 7H2v2h2V7zm5 0H7v2h2V7zm5 0h-2v2h2V7zM4 12H2v2h2v-2zm5 0H7v2h2v-2zm5 0h-2v2h2v-2zM12 1a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zm-1 6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zm1 4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1h-2z"></path>
                                    </g>
                                </svg>
                            </a>
                            <ul tabindex="-1" aria-labelledby="dropdown-platforms__BV_toggle_" class="dropdown-menu dropdown-menu-right">
                                <ul id="grid-menu" data-v-683ee53a="">
                                    <li data-v-683ee53a="">
                                        <a href="https://www.diploma-msc.com/c" title="Postgraduate Diplomas and MSc Courses" rel="noopener" target="_blank" data-v-683ee53a="">
                                            <div class="grid-menu-icon" data-v-683ee53a="">
                                                <svg viewBox="0 0 16 16" width="1em" height="1em" focusable="false" role="img" aria-label="pentagon fill" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi-pentagon-fill b-icon bi" style="font-size:200%" data-v-683ee53a="">
                                                    <g data-v-683ee53a="">
                                                        <path d="M8 0l8 6.5-3 9.5H3L0 6.5 8 0z"></path>
                                                    </g>
                                                </svg>
                                            </div>
                                            <div class="grid-menu-label" data-v-683ee53a="">
                                                PgDip/MSc
                                            </div>
                                        </a>
                                    </li>
                                    <li data-v-683ee53a="">
                                        <a href="/#courses" title="MBA Courses" target="_blank" data-v-683ee53a="">
                                            <div class="grid-menu-icon" data-v-683ee53a="">
                                                <svg viewBox="0 0 16 16" width="1em" height="1em" focusable="false" role="img" aria-label="bullseye" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi-bullseye b-icon bi" style="font-size:200%" data-v-683ee53a="">
                                                    <g data-v-683ee53a="">
                                                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                                        <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10zm0 1A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
                                                        <path fill-rule="evenodd" d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"></path>
                                                        <path d="M9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"></path>
                                                    </g>
                                                </svg>
                                            </div>
                                            <div class="grid-menu-label" data-v-683ee53a="">
                                                MBA
                                            </div>
                                        </a>
                                    </li>
                                    <li data-v-683ee53a="">
                                        <a href="https://www.studyprn.com/c/exam-revision" title="SCE Exam Preparation" rel="noopener" target="_blank" data-v-683ee53a="">
                                            <div class="grid-menu-icon" data-v-683ee53a="">
                                                <svg viewBox="0 0 16 16" width="1em" height="1em" focusable="false" role="img" aria-label="diamond half" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi-diamond-half b-icon bi" style="font-size:200%" data-v-683ee53a="">
                                                    <g data-v-683ee53a="">
                                                        <path fill-rule="evenodd" d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 .989c.127 0 .253.049.35.145l6.516 6.516a.495.495 0 0 1 0 .7L8.35 14.866a.493.493 0 0 1-.35.145V.989z"></path>
                                                    </g>
                                                </svg>
                                            </div>
                                            <div class="grid-menu-label" data-v-683ee53a="">
                                                SCE
                                            </div>
                                        </a>
                                    </li>
                                    <li data-v-683ee53a="">
                                        <a href="https://www.studyprn.com/c/cpd-resources" title="CPD Courses" rel="noopener" target="_blank" data-v-683ee53a="">
                                            <div class="grid-menu-icon" data-v-683ee53a="">
                                                <svg viewBox="0 0 16 16" width="1em" height="1em" focusable="false" role="img" aria-label="exclude" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi-exclude b-icon bi" style="font-size:200%" data-v-683ee53a="">
                                                    <g data-v-683ee53a="">
                                                        <path fill-rule="evenodd" d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm12 2v7a1 1 0 0 1-1 1H4V5a1 1 0 0 1 1-1h7z"></path>
                                                    </g>
                                                </svg>
                                            </div>
                                            <div class="grid-menu-label" data-v-683ee53a="">
                                                CPD
                                            </div>
                                        </a>
                                    </li>
                                    <li data-v-683ee53a="">
                                        <a href="https://my.learna.ac.uk/manage/index" title="Access Your Learna Account" rel="noopener" target="_blank" data-v-683ee53a="">
                                            <div class="grid-menu-icon" data-v-683ee53a="">
                                                <svg viewBox="0 0 16 16" width="1em" height="1em" focusable="false" role="img" aria-label="person fill" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi-person-fill b-icon bi" style="font-size:200%" data-v-683ee53a="">
                                                    <g data-v-683ee53a="">
                                                        <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                                                    </g>
                                                </svg>
                                            </div>
                                            <div class="grid-menu-label" data-v-683ee53a="">
                                                Account
                                            </div>
                                        </a>
                                    </li>
                                    <li data-v-683ee53a="">
                                        <a href="https://course.diploma-msc.com/my/" title="Access the Learna VLE" rel="noopener" target="_blank" data-v-683ee53a="">
                                            <div class="grid-menu-icon" data-v-683ee53a="">
                                                <svg viewBox="0 0 16 16" width="1em" height="1em" focusable="false" role="img" aria-label="layers fill" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi-layers-fill b-icon bi" style="font-size:200%" data-v-683ee53a="">
                                                    <g data-v-683ee53a="">
                                                        <path fill-rule="evenodd" d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882l7.5-4z"></path>
                                                        <path fill-rule="evenodd" d="M2.125 8.567l-1.86.992a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882l-1.86-.992-5.17 2.756a1.5 1.5 0 0 1-1.41 0l-5.17-2.756z"></path>
                                                    </g>
                                                </svg>
                                            </div>
                                            <div class="grid-menu-label" data-v-683ee53a="">
                                                Moodle
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </ul>
                        </li>
                    </ul>
                    <button type="button" aria-label="Toggle navigation" aria-expanded="false" left="" class="navbar-toggler ml-auto collapsed" aria-controls="nav-courses-collapse" style="overflow-anchor: none;">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="d-inline d-md-none">
                        <div id="nav-courses-collapse" class="navbar-collapse collapse" style="display:none">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="/courses/executive-mba" target="_self" class="nav-link">Executive MBA
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/courses/executive-mba-in-healthcare-management" target="_self" class="nav-link">
                                        EMBA in Healthcare Management
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/courses/executive-mba-in-marketing-management" target="_self" class="nav-link">
                                        EMBA in Marketing Management
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/courses/executive-mba-in-financial-management" target="_self" class="nav-link">
                                        EMBA in Financial Management
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/courses/executive-mba-in-entrepreneurship" target="_self" class="nav-link">
                                        EMBA in Entrepreneurship
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/courses/executive-mba-in-hospitality-and-tourism-management" target="_self" class="nav-link">
                                        EMBA in Hospitality and Tourism Management
                                    </a>
                                </li>
                                <li role="presentation">
                                    <hr role="separator" aria-orientation="horizontal" class="dropdown-divider"></li>
                                    <li class="nav-item">
                                        <a href="https://www.diploma-msc.com/c" target="_self" class="nav-link">
                                            Medical PgDip/MSc
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="https://www.studyprn.com/c/exam-revision" target="_self" class="nav-link">
                                            SCE
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="https://www.studyprn.com/c/cpd-resources" target="_self" class="nav-link">
                                            CPD
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="https://my.learna.ac.uk/manage/index" target="_self" class="nav-link">
                                            Account
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="https://course.diploma-msc.com/my" target="_self" class="nav-link">
                                            Moodle
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>

            <style lang="scss">
                #nav {
                    margin: 0.5rem 0;
                }

                .navbar {
                    border-bottom: 1px solid #ccc;

                    .navbar-brand {
                        padding-top: 0;
                    }
                }

                @media only screen and(min-width: 768px) {
                    .navbar {
                        border-bottom: 1px solid #ccc;
                        padding: 0 !important;
                    }
                }

                .stripes {
                    height: 0.5rem;
                    z-index: 999;
                    width: 100%;
                }

                .stripes .stripe {
                    float: left;
                    height: 0.5rem;
                    width: 20%;
                }

                #search {
                    margin-right: 0.5rem;
                }

                .banner {
                    @media only screen and(max-width: 768px) {
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }

                .banner-text {
                    @media only screen and(max-width: 768px) {
                        display: none;
                    }
                }

                .sm-banner-text {
                    @media only screen and(min-width: 768px) {
                        display: none;
                    }
                }

                .slide-down {
                    &-enter {
                        transform: translateY(100px);
                        opacity: 0;
                    }

                    &-enter-active {
                        transition: all 0.9s;
                    }

                    &-leave-active {
                        transition: all 0.5s;
                    }

                    &-leave-to {
                        transform: translateX(-200px);
                        opacity: 0;
                    }
                }
            </style>
